version: "3.9"

services:
  db:
    image: postgres:alpine
    restart: always
    volumes:
      - ./data/db:/var/lib/postgresql/data
    ports: 
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_DB: testdrizzle
      POSTGRES_PASSWORD: password

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
